<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" href="style.css" />
    <title>Intro to Vue</title>
  </head>
  <body>
    <!-- nav bar -->
    <div class="nav-bar"></div>

    <div id="app">
      <div class="product">
        <!-- product image -->
        <div class="product-image">
          <img v-bind:src="image" />
        </div>

        <!-- product info -->
        <div class="product-info">
          <h1>{{title}}</h1>
          <p v-if="inStock">In stock</p>
          <p v-else>Out of stock</p>

          <!-- list rendering -->
          <ul>
            <li v-for="detail in details">{{detail}}</li>
          </ul>

          <!-- variants -->
          <div
            v-for="(variant, index) in variants"
            :key="variant.variantId"
            class="color-box"
            :style="{backgroundColor: variant.variantColor}"
            @mouseover="updateProduct(index)"
          ></div>

          <!-- cart -->
          <button
            v-on:click="addToCart"
            :disabled="!inStock"
            :class="{disabledButton:!inStock}"
          >
            Add to Cart
          </button>
          <div class="cart">
            <p>Cart({{cart}})</p>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
